h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
}
.lead {
  font-size: 1.25rem;
  line-height: 1.6;
  color: #b5b2b2;
  margin-bottom: 1.5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
}
